
.header-navbar {
    background-color: rgb(1, 64, 153);
}

.header-navbar-button, 
div.header-navbar-button > a {
    display: flex;
    background-color: rgb(1, 64, 153);
    color: rgb(255, 255, 255)!important;
    font-size: 16px;
    font-weight: 700!important;
    display: inline;
    padding: 0px 12px;
}



.header-logo {
    height: 80px;
    margin: 30px;
}

.menu-item {
    background-color: white;
}

.menu-item-text {
    color:black;
    font-size: medium;
}