.parnter-container {
    padding:200px;
}

#title {
    color: #014099;;
    font-size: 40px;
    text-align: center;
    font: Arial, sans-serif;
    text-size-adjust: none;
}

#text {
    font: Arial, sans-serif;
    color: #014099;
    opacity: 0.63;
    font-size: 17px;
    font-family: roboto-regular;
    text-align: center;
}

.partner-title {
    font-size: 3ex;
    font-weight: bold;
    text-align: center;
}

.parnter-logo {
    width:320px !important;
    height: 400px;
    padding:20px;
    text-align: center;
}