.web-footer {
    padding-top: 60px;
    background: rgb(238, 241, 245);
}

#footer-logo {
    border: none;
    vertical-align: middle;
    height: 70px;
}

.footer-subtitle {
    color: rgb(114, 113, 113);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
}

#footer-logo-text {
    color: rgb(114, 113, 113);
    font-size: 16px;
    margin-bottom: 35px;
    margin-top: 10px;
    font-family: roboto-regular;
}

.footer-subtitle-text {
    color: rgb(114, 113, 113) !important;
    font-size: 17px;
    font-family: roboto-regular;
    text-decoration: none !important;
}

.footer-subtitle-text:hover {
    color: rgb(1, 64, 153) !important;
    font-size: 17px;
    font-family: roboto-regular;
    text-decoration: none !important;
}